<div class="login-modal">
  <div class="login-modal-body container">

    <!-- Title. -->
    <div class="row">
      <div class="col-md-12">
        <h4>Login</h4>
      </div>
    </div>

    <!-- Login fields. -->
    <div class="row">
      <div class="col-md-auto">
        <div class="row">
          <div class="col-md-auto">
            <label>User Name:</label>
          </div>
          <div class="col-md-12">
            <input type="text" [(ngModel)]="usersModel.userName">
          </div>
        </div>

        <div class="row">
          <div class="col-md-auto">
            <label>Password:</label>
          </div>
          <div class="col-md-12">
            <input type="password" [(ngModel)]="usersModel.password">
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="alertInvalidLogin">
      <label>Invalid login details.</label>
    </div>

    <div class="row login-button-panel">
      <div class="col-md-auto">
        <div class="d-flex">
          <button class="btn-primary btn login-btn p-2" (click)="onBtnLoginClicked()">Login</button>
          <button class="btn-secondary btn login-btn p-2" (click)="onBtnCloseClicked()">Close</button>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="login-modal-background"></div>
