app-login {
  display: none;
  .login-modal {
    /* modal container fixed across whole screen */
    //position: fixed;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    min-height: 300px;
    min-width: 350px;

    /* center modal dialog */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;
  }

  .login-modal-body {
    padding: 20px;
    background: #fff;

    /* margin exposes part of the modal background */
    margin: 5px; // NOTE: default 40px reduced to 5px due to bootstrap container.
  }

  .login-modal {
    padding: 20px;
    background: #fff;

    /* margin exposes part of the modal background */
    margin: 40px;
  }

  .login-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }

  .login-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
  }

  .login-button-panel {
    margin-top: 5px;
  }

  .login-alert-invalid-show {
    color: red;
    display: block;
  }

  .login-alert-invalid-hide {
    color: red;
    display: none;
  }

  .login-btn {
    margin-right: 5px;
    font-size: small;
  }
}
