<div class="d-flex flex-row">
  <div class="p-2" style="width: 370px; height: 100%; overflow: auto">
    <div class="card-body">
      <h6 class="card-title">Users Registration</h6>

      <div class="card-group">
        <div class="list-group" style="overflow: auto">
          <a href="#" class="list-group-item active">
            List of Users
          </a>
          <div *ngFor="let user of userList" (click)="onUserRecClicked(user.userID)">
            <a href="#" class="list-group-item list-group-item-action">{{user.userID}} - {{user.userName}}</a>
            <!--<a href="#" class="list-group-item list-group-item-action disabled">Suresh</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-2 w-auto h-100 border border-primary rounded m-2" style="height: 500px !important;">
    <div class="container w-100 m-1">
      <div class="row" style="height: 430px !important;">
        <div class="col-lg">
          <div class="container w-100 h-100">

            <!-- General details -->
            <div class="row">
              <div class="col">
                <label>First Name: <input type="text" [(ngModel)] = "userModel.firstName"></label>
              </div>

              <div class="col">
                <label>Last Name: <input type="text" [(ngModel)] = "userModel.lastName"></label>
              </div>
            </div>

            <br/>
            <br/>

            <!-- Credentials -->
            <div class="row">
              <div class="col-4">
                <label>Username: </label>
              </div>

              <div class="col-lg"><input type="text" [(ngModel)] = "userModel.userName"></div>
            </div>

            <div class="row">
              <div class="col-4">
                <label>Password:</label>
              </div>
              <div class="col-md"><input type="password" [(ngModel)] = "userModel.password"></div>
            </div>

            <div class="row">
              <div class="col-4">
                <label>Confirm Password:</label>
              </div>
              <div class="col-md"><input type="password" [(ngModel)] = "txtUserPswConfirm"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md p-2 d-flex user-reg-crud-panel">
          <button class="mr-auto p-2 btn btn-secondary" (click)="onResetClicked()">Reset</button>
          <button class="p-2 btn btn-primary" (click)="onSaveClicked()">Save</button>
          <button class="p-2 btn btn-secondary" (click)="onUpdateClicked()">Update</button>
          <button class="p-2 btn btn-danger" (click)="onDeleteClicked()">Delete</button>
        </div>
      </div>
    </div>

  </div>
</div>
