.main-container {
  z-index: 0;
  min-height: 100%;
}

.sub-content-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* resize container to a certain level */
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;

  /* prevent bootstrap margins. */
  margin: 0px !important;
}
