<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div class="main-container container">
  <div class="row sub-content-center">
    <div class="col-md-12">
      <app-home></app-home>
    </div>
  </div>
</div>

<app-footer></app-footer>
<app-login></app-login>
<router-outlet></router-outlet>
