<header class="header card-footer">
  <div class="d-flex">
      <div class="mr-auto p-2">
        <h6>Yukon Assignment</h6>
      </div>

      <div class="p-2">
        <button class="btn-dark btn btn-logout" (click)="btnLogoutClicked()">Logout</button>
      </div>
  </div>
</header>
