<div class="container card" style="min-width: 100%; height: 100%">
  <div class="row">
    <div class="col-md-12" style="padding: 0px;">
      <app-content-menu></app-content-menu>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-lg-auto h-100 w-100 p-0">
      <!-- IMPORTANT: use ng-container instead html element to prevent ViewChild undefined error. -->
      <ng-container *ngIf="loginState; then mainView else templateLoggedOut;"></ng-container>

      <ng-template #templateLoggedOut>
        <div>Logged out</div>
      </ng-template>
      <!-- Component router service render here. -->
      <ng-template #mainView></ng-template>
    </div>
  </div>
</div>
