/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~ngx-toastr/toastr.css";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height:100%;
}
